@import "../../shared/palette";

.BooksContainer {
    // Sizing
    width: 95%;
    height: 78vh;
    margin: 0 auto;
    margin-bottom: 1em;
    // Styling
    border: 2px solid $accent;
    background-color: $primaryBackground;
    padding: 1em;
    overflow: auto;
    // Content
    display: grid;
    gap: 1em;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media (max-width: 400px) {
        border: none;
        padding: 1em 0 0 0;
        height: 100%;
    }
}
