$primaryBackground: black;
$secondaryBackground: rgb(0, 223, 252, 0.5);
$tertiaryBackground: rgb(50, 42, 42, 0.5);

$accent: rgb(0, 223, 252);
$secondaryAccent: white;
$warningAccent: rgb(255, 0, 0, 0.5);

// Google Books Button
$btnBackground: rgb(0, 0, 0, 0.6);
$btnBorderColour: rgb(0, 0, 0, 0.1);

$btnBackgroundHover: rgb(255, 255, 255, 0.6);
$btnBorderHover: rgb(255, 255, 255, 0.1);
