@import "../../shared/palette";

.SearchForm {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    &__Input {
        width: 100%;
        background-image: url("../../shared/Google_Books_logo_2015.svg");
        background-repeat: no-repeat;
        background-size: 4em;
        background-position: 98%;
        background-clip: padding-box;

        @media (max-width: 400px) {
            background-size: 2.5em;
            vertical-align: middle;
        }
    }

    &__Input,
    &__Button {
        border: 1px solid $accent;
        background-color: $primaryBackground;
        color: $accent;
        font-size: 1.2rem;
        padding: 0.5em;
    }

    &__Button {
        cursor: pointer;

        &:hover {
            border-color: $secondaryAccent;
            color: $secondaryAccent;
            background-color: $secondaryBackground;
        }

        &:active {
            background-color: $secondaryBackground;
        }
    }
}
