@import "../../shared/palette";

.Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primaryBackground;
    color: $accent;
    font-size: 1.5rem;

    &__Title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__Logo {
        fill: $accent;
        margin-left: 1em;
    }

    @media (max-width: 400px) {
        font-size: 1rem;

        &__Logo {
            height: 30px;
        }
    }
}

.BookCount {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 0.2em;
    text-align: left;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: $accent;

    &__Clear_Button {
        border: none;
        font-size: 1rem;
        background-color: $primaryBackground;
        color: $accent;
        cursor: pointer;

        &:hover {
            background-color: $secondaryBackground;
            color: $secondaryAccent;
            text-decoration: underline;
        }

        &:active {
            background-color: $warningAccent;
            font-weight: bold;
        }
    }
}
