@import "../../shared/palette";

.BookCard {
    // Sizing
    width: 100%;
    padding: 0.5em;
    // Styling
    border: 1px solid $secondaryAccent;
    color: $secondaryAccent;
    background-color: $secondaryBackground;
    // Content
    display: flex;
    flex-direction: column;

    &__Title {
        text-align: center;
        margin-top: 0.5em;
    }

    &__Para,
    &__Link {
        text-align: left;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 1.2rem;
        padding: 0.5em;
        line-height: 1.4;
    }

    &__Link {
        line-height: normal;
        padding: 0 0.5em;
        text-decoration: none;
        color: $secondaryAccent;
        cursor: pointer;

        &__Img {
            height: 1.7rem;
            width: 6rem;
            background-color: $btnBackground;
            border: 4px solid $btnBorderColour;
            border-radius: 0.7em;

            &:hover,
            :active {
                background-color: $btnBackgroundHover;
                border: 4px solid $btnBorderHover;
            }
        }
    }

    &__Img {
        height: 40%;
        object-fit: contain;
        padding: 1em;
        border: 2px solid $secondaryAccent;
        background-color: $tertiaryBackground;
    }
}
