.BookCard {
    // Sizing
    width: 100%;
    padding: 0.5em;
    // Styling
    border: 1px solid white;
    color: white;
    background-color: rgb(0, 223, 252, 0.5);
    // Content
    display: flex;
    flex-direction: column;

    &__Details {
    }

    &__Title {
        text-align: center;
        margin-top: 0.5em;
    }

    &__Para {
        text-align: left;
        font-size: 1.2rem;
        padding: 0.5em;
        line-height: 1.4;
    }

    &__Img {
        height: 40%;
        object-fit: contain;
        padding: 1em;
        border: 2px solid white;
        background-color: rgb(50, 42, 42, 0.5);
    }
}
