@import "../../shared/palette";

.BookCard {
    // Sizing
    width: 100%;
    padding: 0.5em;
    // Styling
    border: 1px solid $secondaryAccent;
    color: $secondaryAccent;
    background-color: $secondaryBackground;
    // Content
    display: flex;
    flex-direction: column;

    &__Title {
        text-align: center;
        margin-top: 0.5em;
    }

    &__Para {
        text-align: left;
        font-size: 1.2rem;
        padding: 0.5em;
        line-height: 1.4;
    }

    &__Img {
        height: 40%;
        object-fit: contain;
        padding: 1em;
        border: 2px solid $secondaryAccent;
        background-color: $tertiaryBackground;
    }
}
